extends layouts/player_layout

block content
  .container.album-container
    .row.album-header-container
      .col-md-3
        img(src="/images/album-placeholder.png")
      .col-md-9.colmd-push-1
        .album-header-information
          h3.album-title The Colors
          h4.album-artist Pablo Picasso
          h5.album-meta-info 1881 on Cubism

    .row
      .col-md-12
        table.table.album-song-listing
          each colorName, index in ['Blue', 'Green', 'Red', 'Pink', 'Magenta']  
            tr.row
              td.col-md-1 #{index + 1}
              td.col-md-9 #{colorName}
              td.col-md-2 X:XX
              //- .col-md-1 #{index + 1}
              //- .col-md-9 #{colorName}
              //- .col-md-2 X:XX



    //- .col-lg-6.col-xs-12.col-sm-12 Left Half
    //- .col-lg-6.col-xs-12.col-sm-12 Right Half